<div class="page-cont">
  <h3>Categories</h3>
  <div>
    <span class="category-item"
          *ngFor="let category of categories"
          (click)="selectCategory(category)"
          [ngClass]="{'selected': (category.id == selectedCategory)}">{{category.name}}</span>
  </div>
  <h3>Products</h3>
  <div *ngIf="0 === products.length">
    No products available.
  </div>
  <div>
    <app-product-item *ngFor="let product of products" [product]="product"></app-product-item>
  </div>
  <div *ngIf="hasMore">
    <button (click)="loadProducts()">Load more</button>
  </div>
</div>

<app-modal></app-modal>
